[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
pip = "==18.0"
"discord.py" = {ref = "rewrite", git = "https://github.com/Rapptz/discord.py"}
"psycopg2-binary" = "*"
sqlalchemy = "*"

[dev-packages]
black = "*"
"flake8" = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
